@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;  
    padding: 0px;       
}

body {    
    min-height: 100vh;
    background-color: black;
    font-family: var(--fonte1);    
}

header {
    background-image: linear-gradient(to bottom, white, black);
    background-color: black;    
    color: white;
    text-align: center;
    padding: 50px 0;        
} 

header > h1 {
    font-variant: small-caps;  
    font-family: var(--fonte2); 
    font-size: 10vw; 
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;     
    font-family: var(--fonte3);  
    font-size: 3vw;
}

section > p{
    padding-bottom: 2em;
}

section.nornal {
    background-color: white;  
}

section.imagem{
    background-color: rgba(255, 255, 255, 0.596);
    color: white;  
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.479);  
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.226);
    padding: 10px; 
    text-shadow: 1px 1px 0px black;       
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;       
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    
}

footer {
    background-color: black;
    text-align: center;    
    color: white;
    padding: 5px;    
}


