@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.582);
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh; 
    position: relative;       
}
 
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    

    background: url(../imagens/frame-iphone.png) no-repeat;
    height: 627px;
    width: 311px;   
    }

section#redes-sociais {
    text-align: center;    
}

section#redes-sociais img {
    width: 30px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
 border: 3px solid rgba(255, 255, 255, 0.562);
 transform: translate(-3px, -3px);
 transition: 0.4s;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 20px;
    width: 270px;
    height: 470px;
}

